.avatarWrapper {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: -15px;
  border: 1px solid #fff;
}

.online {
  background: green;
}

.offline {
  background: gray;
}
