.chats {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.chatsList {
  list-style-type: none;

  .chat a {
    color: white;
    text-decoration: none;
  }

  .chat a.active {
    color: darkblue;
  }
}

.chatWindow {
  border: 1px solid black;
}

.profile {
  display: flex;
  gap: 10px;
}

.messages {
  margin-top: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
}
