:root {
  --nav-font-size: 21px;
  --input-font-size: 18px;
  --main-color: cadetblue;
}

.app-wrapper {
  display: grid;
  grid-area: content;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  background-color: var(--main-color);
}
